a, cite {
    color: #33be21;
}

blockquote {
    border-left: 5px #33be21 solid;
}

table.fill > thead > tr > th, table.fill > thead > tr > td, em, .sw-btn.active.sw-btn:before,
header .head-title, .docs-title, .show-column > *[class*="col-"] p, footer, body {
    background: #33be21;
}
