a, cite {
    color: #b60e0e;
}

blockquote {
    border-left: 5px #b60e0e solid;
}

table.fill > thead > tr > th, table.fill > thead > tr > td, em, 
.sw-btn.active.sw-btn:before, .docs-title, .show-column > *[class*="col-"] p, footer, body {
    background: #b60e0e;
}

.docs-title p {
    color: #f4c1c1;
}