a, cite {
    color: #2a941c;
}

blockquote {
    border-left: 5px #2a941c solid;
}

table.fill > thead > tr > th, table.fill > thead > tr > td, em, .sw-btn.active.sw-btn:before,
header .head-title .site-title, .docs-title, .show-column > *[class*="col-"] p, footer, body {
    background: #2a941c;
}
