a, cite {
    color: #3cdc82;
}

blockquote {
    border-left: 5px #3cdc82 solid;
}

table.fill > thead > tr > th, table.fill > thead > tr > td, em, 
.sw-btn.active.sw-btn:before, .docs-title, .show-column > *[class*="col-"] p, footer, body {
    background: #3cdc82;
}

.docs-title p {
    color: #ddf7e8;
}