{% if page_info.title=="index" %}
    {% set title=system_config.Project_Name %}
{% else %}
    {% set title=page_info.title %}
{% endif %}
{% if page_info.title=="index" %}
    {% set description=system_config.Project_Description %}
{% else %}
    {% set description=page_info.excerpt %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="{{ template_config.Theme_Color }}">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link href="/static/{{ system_config.Theme }}/css/index.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/{{ system_config.Theme }}/css/color-{{ template_config.Theme }}.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="{{ system_config.Project_Name }}" href="/rss">
    {% include "include/head.html" ignore missing %}
</head>
<body>
<header>
    <div class="wrap min">
        <div class="head-title">
            <h3 class="site-title"><a href="/">{{ system_config.Project_Name }}</a></h3>
            <div class="toggle-btn"></div>
        </div>
        <ul class="head-menu" id="head-menu">{% for item in menu_list %}
            {% if "absolute" in item %}
                {% set url = item.absolute %}
            {% else %}
                {% set url = "/"+item.name %}
            {% endif %}<li><a href="{{url}}{% if static %}.html{% endif %}">{{ item.title }}</a></li>{% endfor %}
            <li><a href="/rss" target="_blank">订阅</a></li>
        </ul>
    </div>
</header>
